<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Online notepad</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom fonts for this template -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet"></link>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <form th:action="@{/newNote}" th:method="get"  >
        		 <button type="submit" class="btn btn-primary">New note</button>
</form>


      
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Online Notebook</h1>
          <h3>Make your notes</h3>
		  
		   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Note</th>
		<th>Date</th>
		<th>Options</th>
      </tr>
    </thead>
    <tbody>
    
       <tr  th:each="n : ${notes}">
        <td th:text="${n.id}">1</td>
        <td th:text="${n.title}">First note</td>
        <td th:text="${n.shortNote}">same notes</td>
		<td th:text="${n.date}">10.10.2017</td>
		<td>
		<div class="btn-group">
		

		
		
		<a th:href=" @{'/open?id='+ ${n.id}}"  class="btn btn-primary">Open</a>
    <a th:href=" @{'/edit?id='+ ${n.id}}"  class="btn btn-primary">Edit</a>
 <a th:href=" @{'/remove?id='+ ${n.id}}"  class="btn btn-primary">Remove</a>
  </div>
		</td>
		
	  </tr>
	  
    </tbody>
  </table>
  

        </div>
      </div>
    </header>

    <!-- Page Content -->
  

    

    <!-- Bootstrap core JavaScript -->
    <script src="css/jquery.min.js"></script>
    <script src="css/popper.min.js"></script>
    <script src="css/bootstrap.min.js"></script>

  </body>

</html>
